.btn{
    padding: 0 0.5rem;
}
.icon-fa {
    margin-top: 5px;
    font-size: 17px !important;
}
.imprimir-button{
    float: right;
    padding: 0.65rem;
    background-color: #42515e;
}
.registration-header{
    border-radius: 0px;
}