.menu-stats {
    margin-right: -0.75rem;
    margin-bottom: 1.5rem;
    > div {
        float: left;
        width: 50%;
    }
    > div > div{
        box-sizing: border-box;
        margin-right: 0.75rem;
        margin-bottom: 0.75rem;
        padding: 0.75rem;
        border-radius: 2px;
        background: #eee;
        color: #000;
        transition: all .3s;
        &:hover{
            background: #e4e4e4;
        }
    }
    
}

.sidebar-panel{
    margin-top: 20px;
}