.menu-stats {
    margin-right: -0.75rem;
    margin-bottom: 1.5rem;
    > div {
        float: left;
        width: 25%;
    }
    > div > div{
        box-sizing: border-box;
        margin-right: 0.75rem;
        margin-bottom: 0.75rem;
        padding: 0.75rem;
        border-radius: 2px;
        background: #eee;
        color: #000;
        transition: all .3s;
        &:hover{
            background: #e4e4e4;
        }
    }
    
}

.sidebar-panel{
    margin-top: 20px;
}
#user-stats, #taxonomies-panel, #account-panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #337ab7;
    border-radius: 4px;
    h2{
        padding: 10px 15px;
        border-bottom: 1px solid #337ab7;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        color: #fff;
        background-color: #337ab7;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    > div > div {
        margin-right: 0.75rem;
        margin-bottom: 0.75rem;
        padding: 0.75rem;
    }
}