<div>
    <font face="tahoma, sans-serif" color="#666666">Confirmação de inscrição na oportunidade {{opportunity}} no Mapa da Saúde! Seu número de inscrição é #{{number}}<br><br></font>
</div>
<div>
    <b>
        <font face="tahoma, sans-serif" color="#444444">Mapas da Saúde</font>
    </b>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="mailto:desenvolvimento@esp.ce.gov.br" target="_blank">desenvolvimento@esp.ce.gov.br</a>
        <br>
    </font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="https://mapa.sus.ce.gov.br" target="_blank">https://mapa.sus.ce.gov.br</a><br>
    </font>
</div>
