<div font face="tahoma, sans-serif" color="#666666">
    {{{mailDescriptionSendConfirm}}}<br>
    <p>
        Informações sobre a inscrição:<br><br>
        Número de inscrição: <b>#{{number}}</b><br>
        Oportunidade: <b>{{opportunity}}</b><br>
    </p>
</div>
<div>
    <b>
        <font face="tahoma, sans-serif" color="#444444">Mapas da Saúde</font>
    </b>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="https://mapa.sus.ce.gov.br" target="_blank">https://mapa.sus.ce.gov.br</a><br>
    </font>
</div>
